- breadcrumb :profile, false
- content_for :title, @pilot.name
- content_for :actions do
  = edit_action_link_to edit_profile_path

.row.m-b-lg.m-t-lg
  .col-md-6
    .profile-image
      = avatar_image_tag @pilot.avatar, :thumb, class: 'img-circle circle_border m-b-md'
    .profile-info
      %div
        %div
          %h2.no-margins= @pilot.first_name
          %h4= @pilot.last_name
