%tr
  %td.content-block
    %h3= t 'mail.confirmation.labels.welcome'

%tr
  %td.content-block= t 'mail.confirmation.labels.text'

%tr
  %td.content-block.aligncenter
    = link_to t('mail.confirmation.labels.confirm'), confirmation_url(@resource, reset_password_token: @token), class: 'btn-primary'

