- content_for :image, 'Confirmation@2x.jpg'

%tr
  %td
    / COPY
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.padding-copy{:align => "center", :style => "font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;"}= t 'mail.confirmation.labels.welcome'
      %tr
        %td.padding-copy{:align => "left", :style => "padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"}= t 'mail.confirmation.labels.text'
%tr
  %td
    / BULLETPROOF BUTTON
    %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
          %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:align => "center"}
                %a.mobile-button{:href => confirmation_url(@resource, confirmation_token: @token), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}
                  = t('mail.confirmation.labels.confirm')
                  →
