!!!
%html
  %head
    = stylesheet_link_tag 'email', 'data-turbolinks-track' => true, media: 'all'
  %body
    .page-content
      .panel
        .panel-body.container-fluid
          .email-title
            = image_tag 'Logo.png', height: '36px'
            %h4.blue-grey-400.font-weight-400 Remark
          .widget.widget-article
            .widget-body
              %h4 Hello #{@resource.first_name}!
              %p Someone has requested a link to change your password. You can do this through the link below.
              %p If you didn't request this, please ignore this email.
              %p Your password won't change until you access the link above and create a new one.
              .widget-body-footer
                = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary widget-readMore'
          .email-more
            %h2.email-more-title More information on Soaring Book
            %p
              Don't hesitate to contact me at 
              %a.email-unsubscribe{:href => "mailto: jelle@fousa.be"} jelle@fousa.be
