- breadcrumb :glider, @glider, false

- content_for :title, @glider.immatriculation.upcase
- if can? :update, @glider
  - content_for :actions do
    = edit_action_link_to edit_glider_path(@glider)

.row.m-b-lg.m-t-lg
  .col-md-6
    .profile-image
      = avatar_image_tag @glider.avatar, :thumb, class: 'img-circle circle-border m-b-md'
    .profile-info
      %div
        %div
          %h2.no-margins= @glider.immatriculation.upcase
          %h4= @glider.name
