.page-brand-info
  .brand
    = image_tag 'Logo.png', class: 'brand-img', height: '36px'
    %h2.brand-text.font-size-40= t 'global.application.welcome'
  %p.font-size-20= t 'global.login.description'
