.navbar-header
  %button.navbar-toggle.hamburger.hamburger-close.navbar-toggle-left.hided{ "data-toggle" => "menubar", type: "button"}
    %span.sr-only= t('global.application.navigation.toggle')
    %span.hamburger-bar
  %button.navbar-toggle.collapsed{ data: { target: "#site-navbar-collapse", toggle: "collapse" }, type: "button" }
    %i.icon.wb-more-horizontal{ "aria-hidden" => "true" }
  .navbar-brand.navbar-brand-center.site-gridmenu-toggle{ "data-toggle" => "gridmenu" }
    = image_tag 'Logo.png', title: t('global.title').upcase, class: 'navbar-brand-logo'
    - if current_pilot && payment_completed?
      %span.navbar-brand-text= current_pilot.club.short_name.upcase
    - else
      - club = current_pilot.try(:club) || self.resource.try(:club)
      %span.navbar-brand-text= club.short_name.upcase
