.site-gridmenu
  %div
    %div
      %ul
        = menu_grid_link_tag t('global.application.menu.dashboard'), 'fa-dashboard', root_path
        - if can? :read, Glider
          = menu_grid_link_tag t('global.application.menu.gliders'), 'fa-plane', gliders_path
