.site-gridmenu
  %div
    %div
      %ul
        %li
          %a{:href => "../apps/mailbox/mailbox.html"}
            %i.icon.wb-envelope
            %span Gliders
        %li
          %a{:href => "../apps/calendar/calendar.html"}
            %i.icon.wb-calendar
            %span Pilots
        %li
          %a{:href => "../apps/contacts/contacts.html"}
            %i.icon.wb-user
            %span Flights
        %li
          %a{:href => "../apps/media/overview.html"}
            %i.icon.wb-camera
            %span Settings
        %li
          %a{:href => "../apps/documents/categories.html"}
            %i.icon.wb-order
            %span Profile
        %li
          %a{:href => "../index.html"}
            %i.icon.wb-dashboard
            %span Dashboard
