.site-menubar
  .site-menubar-body
    %div
      %div
        %ul.site-menu
          = menu_group_tag ''
          = menu_link_tag t('global.application.menu.dashboard'), 'wb-dashboard', root_path, controller_name == 'dashboard'
