- if Rails.env.development?
  .ribbon.ribbon-corner.ribbon-primary.ribbon-reverse.ribbon-warning
    %span.ribbon-inner
      %i.icon.wb-emoticon

- elsif ENV['CUMULUS_IS_STAGING'] == '1'
  .ribbon.ribbon-corner.ribbon-primary.ribbon-reverse.ribbon-danger
    %span.ribbon-inner
      %i.icon.wb-emoticon

