%ul.nav.navbar-toolbar
  - unless force_payments_wizard?
    %li#toggleMenubar.hidden-float
      %a{ "data-toggle" => "menubar", :href => "#", :role => "button" }
        %i.icon.hamburger.hamburger-arrow-left
          %span.sr-only= t('global.application.menu.toggle')
          %span.hamburger-bar
  %li#toggleFullscreen.hidden-xs
    %a.icon.icon-fullscreen{ "data-toggle" => "fullscreen", href: '#', :role => "button" }
      %span.sr-only= t('global.application.menu.fullscreen')
