%ul.nav.navbar-toolbar
  %li#toggleMenubar.hidden-float
    %a{ "data-toggle" => "menubar", :href => "#", :role => "button" }
      %i.icon.hamburger.hamburger-arrow-left
        %span.sr-only Toggle menubar
        %span.hamburger-bar
