%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "data-animation" => "scale-up", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
    %span.flag-icon.flag-icon-en

  %ul.dropdown-menu{ role: "menu" }
    - languages.each do |language|
      %li{ role: "presentation" }
        = link_to "javascript:void(0)", role: 'menuitem' do
          %span{ class: "flag-icon flag-icon-#{language}" }
          = t "global.application.languages.#{language}"
