%li.dropdown
  %a.navbar-avatar.dropdown-toggle{ "aria-expanded" => "false", "data-animation" => "scale-up", "data-toggle" => "dropdown", href: "#", role: "button" }
    %span.avatar.avatar-online
      = avatar_image_tag current_pilot.avatar, :thumb

  %ul.dropdown-menu{ role: "menu" }
    = menu_top_link_tag t('global.application.menu.profile'), 'wb-user', edit_profile_path
    %li.divider{ role: "presentation" }
    = menu_top_link_tag t('global.application.menu.logout'), 'wb-power', destroy_pilot_session_path, method: :delete
