%li.dropdown
  %a.navbar-avatar.dropdown-toggle{ "aria-expanded" => "false", "data-animation" => "scale-up", "data-toggle" => "dropdown", href: "#", role: "button" }
    %span.avatar.avatar-online
      = image_tag 'Avatar.jpg'

  %ul.dropdown-menu{ role: "menu" }
    = menu_top_link_tag 'Profile', 'wb-user', root_path
    %li.divider{ role: "presentation" }
    = menu_top_link_tag 'Logout', 'wb-power', destroy_pilot_session_path, method: :delete
