.navbar-container.container-fluid
  / Navbar Collapse
  #site-navbar-collapse.collapse.navbar-collapse.navbar-collapse-toolbar
    / Navbar Toolbar
    %ul.nav.navbar-toolbar
      %li#toggleMenubar.hidden-float
        %a{"data-toggle" => "menubar", :href => "#", :role => "button"}
          %i.icon.hamburger.hamburger-arrow-left
            %span.sr-only Toggle menubar
            %span.hamburger-bar
      %li#toggleFullscreen.hidden-xs
        %a.icon.icon-fullscreen{"data-toggle" => "fullscreen", :href => "#", :role => "button"}
          %span.sr-only Toggle fullscreen
      %li.hidden-float
        %a.icon.wb-search{"data-target" => "#site-navbar-search", "data-toggle" => "collapse", :href => "#", :role => "button"}
          %span.sr-only Toggle Search

    %ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-animation" => "scale-up", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
          %span.flag-icon.flag-icon-us
        %ul.dropdown-menu{:role => "menu"}
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %span.flag-icon.flag-icon-gb
              English
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %span.flag-icon.flag-icon-fr
              French
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %span.flag-icon.flag-icon-cn
              Chinese
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %span.flag-icon.flag-icon-de
              German
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %span.flag-icon.flag-icon-nl
              Dutch

      %li.dropdown
        %a.navbar-avatar.dropdown-toggle{"aria-expanded" => "false", "data-animation" => "scale-up", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span.avatar.avatar-online
            %img{:alt => "...", :src => asset_path('Avatar.jpg') }/
            %i
        %ul.dropdown-menu{:role => "menu"}
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %i.icon.wb-user{"aria-hidden" => "true"}
              Profile
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %i.icon.wb-payment{"aria-hidden" => "true"}
              Billing
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %i.icon.wb-settings{"aria-hidden" => "true"}
              Settings
          %li.divider{:role => "presentation"}
          %li{:role => "presentation"}
            %a{:href => "javascript:void(0)", :role => "menuitem"}
              %i.icon.wb-power{"aria-hidden" => "true"}
              Logout

  / End Navbar Collapse
  / Site Navbar Seach
  #site-navbar-search.collapse.navbar-search-overlap
    %form{:role => "search"}
      .form-group
        .input-search
          %i.input-search-icon.wb-search{"aria-hidden" => "true"}
          %input.form-control{:name => "site-search", :placeholder => "Search...", :type => "text"}/
          %button.input-search-close.icon.wb-close{"aria-label" => "Close", "data-target" => "#site-navbar-search", "data-toggle" => "collapse", :type => "button"}
  / End Site Navbar Seach
